.collectionItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  max-width: 18rem;
}



.flagContainer {
  display: block;
  width: 100%;
  max-height: auto;
}

.detailsContainer {
  width: 100%;
  height: 160px;
  padding: 20px;
}

.detailsContainer span{
  padding: 0 4px;
  font-size: 14px;
}

.nameContainer{
  font-size: 1rem;
  margin-bottom: 14px;
}

