.detailsContainer{
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
  padding: 0 4rem;
}


@media screen and (max-width: 425px) {
  .detailsContainer{
    padding: 0 2rem;
  }
}
