.spinnerWrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinnerContainer {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 0.5s ease-in-out infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

