.footerWrapper{
  width: 100%;
  max-width: 1440px;
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer{
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .footerContainer{
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .footerWrapper{
    padding: 1rem;
  }
}